<launch>
  <node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" />
  <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" />
  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" />
  <node name="image_server" pkg="stack_image_node" type="service_server.py" output="screen" />
  <node name="image_client" pkg="stack_image_node" type="service_client.py" output="screen" />
</launch>
